<%- layout('layouts/boilerplate') %>
<table class="table table-striped shadow p-3 mb-3 bg-body-tertiary rounded w-75 mx-auto mt-2">
    <thead>
        <tr>
            <th scope="col">Recipient</th>
            <th scope="col">Products</th>
        </tr>
    </thead>
    <tbody>
        <% orders.forEach(order =>{ %>
        <tr>
            <td scope="row" style="width: 50%;">
                <% order.user.forEach(u => {%>
                <p><%=u.email%></p>
                <p><%=u.userId.address%> <%=u.userId.number%> <%=u.userId.city%></p>
                <p><%=u.userId.zip%></p>
                <%})%>
            </td>
            <td>
                <% order.products.forEach(p=> { %>
                <p><%=p.product.title%> (<%= p.quantity %>)</p>
                <%}) %>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>